@import 'variables';
@import 'animations';
/*@import 'mixins';*/

h1{
    font-family: 'Shrikhand', cursive;
}

p,h2{
    font-family: 'Roboto', sans-serif;
}

#accueil{
    margin: auto;
    max-width: 768px;
}

.entete{    
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    
    &__retour{
        position:absolute;
        font-size:50px;
        padding-left: 30px;
        & i{
            vertical-align: middle;
        }
    }

    &__retour--invisible{
        display: none;
    }

    &__logo{
        text-align: center;        
    }
}

.localisation{
    background-color: $Couleur-tertaire;
    border-top: 10px solid darken($Couleur-tertaire, 15%);
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

    &__pin i{
        font-size: 30px;        
    }

    &__input--saisie{    
        background-color: transparent;    
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        border: none;        
    }
}

.description{
    background-color: lighten($Couleur-primaire, 35%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    &__1{
        position: relative;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    &__2{

        font-size: 20px;
        text-align: center;
    }

    &__btn{
        background-color: $Couleur-primaire;
        font-size: 20px;
        font-weight: bold;
        color:white;
        width: 30%;
        text-align: center;
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 25px;
        box-shadow: 10px 10px 10px lightgrey;
        transition:scale(1);
        transition: transform 0.3s,background-color 0.3s,box-shadow 0.3s ;
        
            &:hover{
            transform:scale(1.15);
            box-shadow :15px 15px 10px gray;
            background-color :$Couleur-secondaire;
            }
    }
}

.fonctionnement{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    &__bouton{
        width:auto;
        margin:auto;
        
        display: flex;
        flex-direction: row-reverse;  
        align-items: center;      

        &__btn{
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items:center;
            margin:auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: $Couleur-tertaire;
            box-shadow: 10px 10px 10px lightgray;
            border-radius: 20px;
            transition:scale(1);
            transition: transform 0.3s,box-shadow 0.3s;    
            
            &__puce{
                position: relative;
                right: 12%;
                width: 18px;
                height: 18px;
                padding: 5px;
                font-family: roboto,sans-serif;
                font-size:18px;
                font-weight: bold;
                background-color: $Couleur-primaire;
                color: white;
                text-align: center;
                vertical-align: middle;
                border-radius: 50%;                               
            }

            & i{
                font-size: 20px;
                transition:color 0.3s
            }
            
            &__texte{
                font-size:20px;
                font-weight: bold;
            }

            &:hover{
                transform:scale(1.15);
                box-shadow :15px 15px 10px gray;
                & i{
                    color:$Couleur-primaire;
                }
                &  .fonctionnement__bouton__btn__puce{  /* !!!!!!! */
                animation-name: spin;
                animation-iteration-count: 1;
                animation-duration: 1s; 
                }
            }
            
        }        
    }
}
