@import 'variables/_variables';
@import 'layouts/animations';
@import 'mixins/mixins';
@import 'base/typographie';
@import 'composants/1_loader';
@import 'composants/2_accueil';
@import 'composants/3_entete';
@import 'composants/4_localisation';
@import 'composants/5_description';
@import 'composants/6_fonctionnement';
@import 'composants/7_restautants';
@import 'composants/8_footer';


.banniere
{
    display: flex;
    position: relative;
    justify-items: center;

    &__photo
    {
        width: 768px;
        height: 25vh;
        object-fit: cover;
    }

    &__nom
    {
        position: absolute;
        background: $Couleur-fond;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -35px;

        &__texte
        {
            position: relative;
            text-align: center;
            padding-left: 25px;

        }

        &__favori
        {
            @include icone_favori;
        }
    }
}

.carte
{
    background: $Couleur-fond;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;

    & li
    {
        opacity: 0;
    }

    & ul
    {
        list-style-type: none;
    }

    & h2
    {
        font-weight: lighter;
        margin-bottom: 5px;
    }

    &__menu
    {
        display: flex;
        flex-direction: column;
        opacity: 0;

        @for $j from 1 to 4
        {
            &:nth-child(#{$j}n)
            {
                @include fade-in ((0.3 * $j) + s);

                @for $i from 1 to 10
                {
                    li:nth-child(#{$i}n)
                    {
                        @include fade-in ((0.2 * $i * $j) + s);
                    }

                }
            }
        }

        &__tiret
        {
            position: relative;
            width: 50px;
            height: 5px;
            background: $Couleur-tertiaire;
        }

        &__liste
        {
            box-sizing: content-box;


            &__element
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 25px;
                box-shadow: $ombre-repos;
                margin-top: 15px;
                overflow: hidden;

                &__description
                {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    margin-right: 10px;
                    @include ellipsis;

                    & h3
                    {
                        margin-top: 0;
                        margin-bottom: 10px;
                        @include ellipsis;
                    }

                    &__bloc
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;


                        & p
                        {
                            margin-top: 0;
                            margin-bottom: 0;
                            width: 700px;
                            @include ellipsis;
                        }
                    }
                }

                &__prix
                {
                    font-weight: bold;
                    align-self: flex-end;
                    justify-self: flex-end;
                    margin-right: 5px;
                    transform: translateX(70px);
                    transition-property: transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;
                }

                &__check
                {
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $Couleur-tertiaire;
                    width: 100px;
                    height: 80px;
                    border-radius: 0 25px 25px 0;
                    transform: translatex(100%);
                    transition-property: transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;

                    & i
                    {
                        color: white;
                        font-size: 35px;
                    }
                }

                &:hover
                {
                    box-shadow: $ombre-hover;
                }

                &:hover &__prix
                {
                    transform: translatex(0);
                }

                &:hover &__check
                {
                    transform: translatex(0);
                }

                &:active &__check
                {
                    background: $Couleur-primaire;
                }
            }

        }
    }





}

.bouton
{
    background: $Couleur-fond;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    & p
    {
        padding: 20px;
    }

    &__commander
    {
        @include bouton-couleur-primaire;
    }

}