$Couleur-primaire: #9356DC;
$Couleur-secondaire: #FF79DA;
$Couleur-tertiaire: #99E2D0;
$Couleur-fond: #f7f7f7;

$ombre-repos: 10px 10px 10px lightgray;
$ombre-hover: 15px 15px 10px gray;

$delai_anim_loader: 0.1s;