@mixin anim-loader ($delay)
{
    animation-name: saut;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, .73, .8, 1.48);
    animation-delay: $delay;
}

@mixin anim_fondu
{
    animation-name: fondu_out;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@mixin icone_favori
{
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 15px;

    & i
    {
        cursor: pointer;
        font-size: 30px;
        color: black;
        transition: color 0.5s, font-weight 0.3s;

        &:hover
        {
            background: linear-gradient($Couleur-primaire, $Couleur-secondaire);
            background-clip: text;
            color: transparent;
            font-weight: 900;
            animation-name: spin;
            animation-iteration-count: 1;
            animation-duration: 0.3s;
        }

    }
}

@mixin bouton-couleur-primaire{
    background-color: $Couleur-primaire;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    box-shadow: $ombre-repos;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;

    &:hover
    {
        transform: scale(1.05);
        box-shadow: $ombre-hover;
        background-color: $Couleur-secondaire;
    }

    &:active
    {
        transform: scale(1);
    }
}