.carte
{
    background: $Couleur-fond;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;

    @include media-min-768
    {
        //Affichage en ligne en mode tablette et PC
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    & h2
    {
        font-size: 0.8rem;
        font-weight: lighter;
        margin-bottom: 5px;
    }

    &__menu
    {
        display: flex;
        flex-direction: column;
        margin: 10px;
        opacity: 0;
        transform: translatey(50px);

        @include media-min-768
        {
            width: 30%;
        }

        @for $j from 1 to 4
        {

            //Animation : Apparition progressive des composante des menus 
            &:nth-child(#{$j}n)
            {
                @include fade-in ((0.3 * $j) + s);
            }
        }

        &__tiret
        {
            //Trait de soulignement
            position: relative;
            width: 3rem;
            height: 0.2rem;
            background: $Couleur-tertiaire;
        }

        &__liste
        {
            &__element
            {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 25px;
                box-shadow: $ombre-repos;
                margin-top: 15px;
                overflow: hidden;
                height: 80px;
                opacity: 0;
                transform: translateY(50px);

                &__description
                {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 0.8rem;
                    margin-right: 0.8rem;
                    @include ellipsis;
                    transition: width 0.5s;

                    &__nom
                    {
                        //width: 100%;
                        transition: width 0.5s;
                        font-size: 0.8rem;
                        margin-top: 0;
                        margin-bottom: 10px;
                        @include ellipsis;
                    }

                    &__bloc
                    {
                        transition: width 0.5s;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;


                        &__texte
                        {
                            font-size: 0.7rem;
                            margin-top: 0;
                            margin-bottom: 0;
                            //width: 700px;
                            @include ellipsis;
                        }
                    }
                }

                &__prix
                {
                    font-weight: bold;
                    margin-right: 0.5rem;
                    margin-left: 5px;
                    font-size: 0.8rem;
                }

                &__check
                {
                    position: absolute;
                    right: -100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $Couleur-tertiaire;
                    width: 100px;
                    height: 100%;
                    border-radius: 0 25px 25px 0;

                    & i
                    {
                        color: white;
                        font-size: 1.5rem;
                    }

                    &:active
                    {
                        //Changement de couleur sur clic du bloc sélection.
                        background: $Couleur-primaire;
                    }
                }

                &:hover
                {
                    //Ombre plus marquée sur survol
                    box-shadow: $ombre-hover;
                }

                &:hover &__check
                {
                    animation-name: check;
                    animation-duration: 0.2s;
                    animation-timing-function: ease-in;
                    animation-fill-mode: forwards;
                    animation-delay: 0.1s;

                    & i
                    {
                        animation-name: spin;
                        animation-duration: 0.5s;
                        animation-timing-function: ease-in-out;
                        animation-delay: 0.2s;
                        animation-iteration-count: 1;
                    }
                }

                &:hover &__description,
                &:hover &__description__nom,
                &:hover &__description__bloc
                {
                    width: calc(100vw - 9rem);

                    @include media-min-768
                    {
                        width: calc(33vw - 7.2rem);
                    }

                    @include media-min-912
                    {
                        width: calc(33vw - 8rem);
                    }
                }
            }

            //Apparition progressive des eléments des menus
            @for $i from 1 to 10
            {
                & :nth-child(#{$i}n)
                {
                    @include fade-in ((0.2 * $i) + s);
                }
            }

        }
    }





}