.carte
{
    background: $Couleur-fond;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;

    @include media-min-768
    {
        //Affichage en ligne en mode tablette et PC
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    & li
    {
        //Point de départ de l'animation
        opacity: 0;
    }

    & ul
    {
        //Suppression des puces 
        list-style-type: none;
    }

    & h2
    {
        font-size: 0.8rem;
        font-weight: lighter;
        margin-bottom: 5px;
    }

    &__menu
    {
        display: flex;
        flex-direction: column;
        margin: 10px;
        opacity: 0;

        @include media-min-768
        {
            width: 30vw;
        }

        @for $j from 1 to 4
        {

            //Animation : Apparition progressive des composante des menus et des éléments des compsantes
            &:nth-child(#{$j}n)
            {
                @include fade-in ((0.3 * $j) + s);

                @for $i from 1 to 10
                {
                    li:nth-child(#{$i}n)
                    {
                        @include fade-in ((0.2 * $i * $j) + s);
                    }
                }
            }
        }

        &__tiret
        {
            //Trait de soulignement
            position: relative;
            width: 3rem;
            height: 0.2rem;
            background: $Couleur-tertiaire;
        }

        &__liste
        {
            box-sizing: border-box;


            &__element
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 25px;
                box-shadow: $ombre-repos;
                margin-top: 15px;
                overflow: hidden;


                &__description
                {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 0.8rem;
                    margin-right: 0.8rem;
                    @include ellipsis;

                    & h3
                    {
                        font-size: 0.8rem;
                        margin-top: 0;
                        margin-bottom: 10px;
                        @include ellipsis;
                    }

                    &__bloc
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;


                        & p
                        {
                            font-size: 0.7rem;
                            margin-top: 0;
                            margin-bottom: 0;
                            width: 700px;
                            @include ellipsis;
                        }
                    }
                }

                &__prix
                {
                    font-weight: bold;
                    justify-self: flex-end;
                    margin-top: 1.2rem;
                    margin-right: 5px;
                    font-size: 0.8rem;
                    //Animation pour décalage du prix
                    transform: translateX(150%);
                    transition-property: transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;
                }

                &__check
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $Couleur-tertiaire;
                    width: 100px;
                    height: 80px;
                    border-radius: 0 25px 25px 0;
                    //Animation pour décalage du bloc séléction
                    transform: translatex(100%);
                    transition-property: transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;

                    & i
                    {
                        color: white;
                        font-size: 1.5rem;
                    }

                    &:active
                    {
                        //Changement de couleur sur clic du bloc sélection.
                        background: $Couleur-primaire;
                    }
                }

                &:hover
                {
                    //Ombre plus marquée sur survol
                    box-shadow: $ombre-hover;
                }

                &:hover &__prix
                {
                    //animation décalage décaler le prix sur la gauche 
                    transform: translatex(0);
                }

                &:hover &__check
                {
                    //animation pour faire aparaitre le bloc séléction
                    transform: translatex(0);

                    & i
                    {
                        animation-name: spin;
                        animation-duration: 0.3s;
                        animation-timing-function: ease-in-out;
                        animation-delay: 0.3s;
                        animation-iteration-count: 1;
                    }

                }

            }

        }
    }





}