.bouton
{
    background: $Couleur-fond;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    &__commander
    {
        @include bouton-couleur-primaire;
    }

}