.loader
{
    //Fond du loader
    position: fixed;
    inset: 0;
    background-color: white;
    height: 100vh;
    z-index: 2;
    opacity: 0.85;
    animation-name: reduire;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.99, .03, .29, 1.07);
    animation-delay: 2s;

    &__titre
    {
        // Saut lettre par lettre
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        line-height: 50px;
        z-index: 3;
        opacity: 1;

        // Décalage de chaque animation de $delai * indice de la oucle (de 1 à 8)
        @for $i from 1 through 8
        {
            &__#{$i}
            {
                font-size: 3em;
                @include anim-loader($delai_anim_loader * $i);
            }
        }
    }

    &__chargement
    {
        position: absolute;
        font-size: 1rem;
        text-align: center;
        width: 100%;
        color: $Couleur-primaire;
        left: 50%;
        top: 60vh;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
}