body
{
    margin: auto;
    position: relative;
}

:root
{
    // Taille de base de la police. Tous les font-size exprimés en"rem" seront proportionnels à cette valeur
    font-size: 16pt;
}

*
{
    // CSS Reset
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}