.entete
{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;

    &__retour
    {
        position: absolute;
        font-size: 30px;
        padding-left: 50px;

        & i
        {
            vertical-align: middle;
        }
    }

    &__retour--invisible
    {
        display: none;
    }

    &__logo
    {
        text-align: center;
    }
}