.localisation
{
    background: linear-gradient(darken($Couleur-fond, 20%) 10%, 20%, darken($Couleur-fond, 5%) 90%);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

    &__pin i
    {
        font-size: 30px;
    }

    &__input--saisie
    {
        background-color: transparent;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        border: none;
        width: 50vh;
    }
}