.fonctionnement
{
    display: flex;
    flex-direction: column;
    align-content: space-around;

    & nav
    {
        @include media-min-912
        {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }
    }

    & h2
    {
        margin-left: 15px;
        font-size: 1rem;

    }

    &__bouton
    {
        width: auto;

        @include media-min-912
        {
            width: 25vw;
        }

        margin: auto;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        &__btn
        {
            width: 70vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 1rem;
            padding: 0.5rem;
            background-color: $Couleur-fond;
            box-shadow: $ombre-repos;
            border-radius: 20px;
            transition: transform 0.3s, box-shadow 0.3s;

            &__puce
            {
                position: relative;
                right: 28px;
                padding: 5px 10px;
                font-family: roboto, sans-serif;
                font-size: 18px;
                font-weight: bold;
                background-color: $Couleur-primaire;
                color: white;
                text-align: center;
                vertical-align: middle;
                border-radius: 50%;
            }

            & i
            {
                font-size: 1rem;
                margin-right: 20px;
                transition: color 0.3s
            }

            &__texte
            {
                font-size: 0.8rem;
                font-weight: bold;
            }

            &:hover
            {
                transform: scale(1.15);
                box-shadow: $ombre-hover;

                & i
                {
                    color: $Couleur-primaire;
                }

                /*& .fonctionnement__bouton__btn__puce
                {
                    animation-name: spin;
                    animation-iteration-count: 1;
                    animation-duration: 1s;
                }*/
            }

        }
    }
}