.banniere
{
    display: flex;
    position: relative;
    justify-items: center;

    /*@include media-min-912
    {
        background-color: red;
    }*/

    &__photo
    {
        margin: auto;
        width: 100vh;
        height: 25vh;

        /*@include media-min-912
        {
            height: 50vh;

        }*/

        object-fit: cover;

        @include media-min-768
        {
            border-radius: 30px;
        }
    }

    &__nom
    {
        position: absolute;
        background: $Couleur-fond;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -5vh;

        @include media-min-768
        {
            width: auto;
            //bottom: calc(-25vh + 5vh);
        }


        &__texte
        {
            position: relative;
            text-align: center;
            padding-left: 25px;
            font-size: 1rem;
        }

        &__favori
        {
            @include icone_favori;
        }
    }
}