//Mise en forme des balise de base
h1,
h4
{
    font-family: 'Shrikhand', cursive;
}

p,
h2,
h3
{
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

a:visited
{
    color: black;
}

html
{
    scroll-behavior: smooth;
}