@keyframes spin
{
  0%
  {
    transform: rotate(0deg);
  }

  50%
  {
    transform: rotate(360deg);
  }

  100%
  {
    transform: rotate(0deg);
  }
}

@keyframes clignoter
{
  0%
  {
    opacity: 1;
  }

  50%
  {
    opacity: 0.5;
  }

  100%
  {
    opacity: 1;
  }
}

@keyframes fondu_out
{
  0%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 0;
    z-index: 0;
    ;
  }
}

@keyframes saut
{
  0%
  {
    transform: translateY(0) scale(1) rotate(0deg);
  }

  50%
  {
    transform: translateY(-100px) scale(1.5) rotate(180deg);
  }

  100%
  {
    transform: translateY(0) scale(1) rotate(360deg);
  }
}

@keyframes reduire
{
  0%
  {
    opacity: 0.3;
  }

  50%
  {
    opacity: 0.5;
  }

  100%
  {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
}

@keyframes fade-in
{
  100%
  {
    opacity: 1;
  }
}